BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: CaseSensitive
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
NamespaceIndentation: None
